@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-dark-color: #000;
  --main-light-color: rgba(255, 255, 255, 1);
  --accent-yellow-color: #f1e468;
  --toastify-color-success: #f1e468 !important;
  --toastify-icon-color-success: #000 !important;
  --accent-red-color: #ff3a31;
  --accent-green-color: #3d7434;
  --accent-grey-color: #d9d9d9;
  scroll-behavior: smooth;
}

body,
html {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  position: relative;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Fugaz One', cursive;
}

a {
  text-decoration: none;
  color: #000;
}

#root {
  max-width: 1920px;
  margin: auto;
  position: relative;
  padding: 9.75rem 0 12rem 0;
  overflow: hidden;
  min-height: 100vh;
  height: 100%;
}

@media (min-width: 500px) {
  #root {
    padding-top: 6.25rem;
  }
}

/* .toast-position {
  top: 1rem !important;
} */
